body {
    width: 80%;
    margin: auto;
    font-family: 'Trebuchet MS', sans-serif;
}

h1, h2 {
    text-align: center;
}

.subsection_header {
    padding-top: 10px;
    font-size: 1.2em;
    font-weight: 400;
}

.breakdown_title {
    font-weight: bold;
}

ul {
    font-weight: normal;
}

dt {
  margin-top: 1rem;
}
dd {
  display: list-item;
  list-style-type: disc;
  }

footer {
    padding-top: 30px;
}