/* your CSS goes here */
* {
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 15px;
}

h1 {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: .3rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 150;
}

h3 {
    font-size: 1.2rem;
    font-weight: 100;
}

.material-icons {
    position: relative;
    top: 6px;
}

.index-container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 1rem;
}
.left {
  text-align: right;
}
.unpicked {
  background-color:grey;
  color: white;
  font-weight: lighter;
  font-size: smaller;
}
.incorrect {
  text-decoration: line-through;
}
.column-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

/* [type='radio'] {
  display: none; 
  } */

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-group {
  display: flex;
}
.column-container-picks{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.results {
  padding: 5rem;
  text-align: center;
}
tr td span.right {
  width: 25px;
  height: 25px;
  color: green;
  background-color: white;
  display: inline-block;
  text-align: center;
  border-radius: 12px;
}

tr td span.wrong {
  width: 25px;
  height: 25px;
  color: red;
  background-color: white;
  display: inline-block;
  text-align: center;
  border-radius: 12px;
}

.column {
  max-width: 90%;
  text-align: center;
  margin-top: 1rem;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2c96bf;
    color: white;
    padding: .5rem;
}

nav ul {
    margin: 0;
    padding: 0;
}

.nav-section {
    display: none;
    margin: 0 1rem;
    padding-right: 40px;
    border-right: rgb(114, 184, 206) solid 2px;
}

nav a {
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
}

.sign-in {
    margin-right: 0;
    padding: 0 6px 2px 6px;
    border: rgb(62, 100, 116) solid 2px;
    border-radius: 3px;
    box-shadow: 1px 1px rgb(115, 177, 182);
}

header {
    color: white;
    padding-top: 4rem;
    text-align: center;
    background-color: #0084af;
    background-image: url("../img/football.jpeg");
    background-position: center;
    background-size: cover;
}

.motto {
    font-style: italic;
    font-size: 0.8em;
}

.section-icon {
    height: 20px;
}

footer {
    color: white;
    background-color: #3e1305;
}

footer a {
    color: white;
    text-decoration: none;
}

.contant-info {
    margin: 0;
    padding-right: 2%;
    line-height: 1;
}

nav .sign-in:hover {
    border: #f0f0f0 solid 2px;
    transition: all .25s ease-out;
}

nav a:hover {
    color: #f0f0f0;
    text-decoration: none;
    border-bottom: 0.2rem solid #f0f0f0;
    transition: all .25s ease-out;
}

nav li:last-child a:hover {
    border-bottom: none;
}

.subtitle-background {
    padding: 0 0.3rem;
    background-image: url(../img/section_background.png);
    opacity: 0.8;
    background-size: contain;
    background-repeat: no-repeat;
}

@media (min-width: 576px) {
    .nav-section {
        display: inline;
    }

    .motto {
        font-style: italic;
        font-size: 1em;
    }

    .section-icon {
        height: 25px;
    }

}

@media (min-width: 768px) {
    body {
        font-size: 18px;
    }

    .material-icons {
        position: relative;
        top: 5px;
    }

    header {
        color: white;
        padding-top: 5rem;
        padding-bottom: 0.5rem;
        text-align: center;
        background-color: #0084af;
        background-position: center;
        background-size: cover;
    }

    h1 {
        font-size: 3.5rem;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: .5rem;
    }

    h2 {
        font-size: 2rem;
        font-weight: 200;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 150;
    }

    .motto {
        font-style: italic;
        font-size: 1.25rem;
    }

    .section-icon {
        height: 30px;
    }

    .column-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

    }
      
    .column {
        max-width: 42%;
        text-align: center;
    }

    .contant-info {
        display: inline;
        margin-left: 0;
        padding-right: 0.5rem;
    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}