.sea {
  border-left: 2px solid #69be28;
  background-color: #A5ACAF;
  color: #002244
}

.sea-1 {
    background-color: #002244;
}

.sea-2 {
    background-color: #69be28;
}

.sea-3 {
    background: #A5ACAF;
}

.ari {
  border-left: 4px solid #FFB612;
  border-right: 4px solid #FFB612;
  background-color: #97233F;
  color: white;
  font-weight: bold;
}

ari-1 {
    background-color: #97233F;
}

ari-2 {
    background-color: black;
}

ari-3 {
    background-color: #FFB612;
}

sf-1 {
    background-color: #AA0000;
}

sf-2 {
    background-color:#B3995D;
}

sf-3 {
    background-color: white;
}

.lar{
  border-left: 4px solid #FFA300;
  border-right: 4px solid #FFA300;
  background-color: #003594;
  color: white;
  font-weight: bold;
}
lar-1 {
    background-color: #003594;
}

lar-2 {
    background-color: #FFA300;
}

lar-3 {
    background-color: white;
}

tampa-1 {
    background-color:#D50A0A;
}

tampa-2 {
    background-color: #FF7900;
}

tampa-3 {
    background-color: #34302B;
}

.no {
  border-left: 4px solid #D3BC8D;
  background-color: #101820;
  color: #D3BC8D;
  font-weight: bold;
}
no-1 {
    background-color: #D3BC8D;
}

no-2 {
    background-color: #101820;
}

atl-1 {
    background-color: #A71930;
}

atl-2 {
    background-color: black;
}

atl-3 {
    background-color: #A5ACAF;
}

car-1 {
    background-color: #0085CA;
}

car-2 {
    background-color: #101820;
}

car-3 {
    background-color: #BFC0BF;
}
.gb{
  border-left: 4px solid #FFB612;
  border-right: 4px solid #FFB612;
  background-color: #203731;
  color: white;
  font-weight: bold;
}

gb-1 {
    background-color: #203731;
}

gb-2 {
    background-color: #FFB612;
}

min-1 {
    background-color: #4F2683;
}

min-2 {
    background-color: #FFC62F;
}

.chi {
  border-left: 4px solid #C83803;
  border-right: 4px solid #C83803;
  background-color: #0B162A;
  color: white;
  font-weight: bold;
}
chi-1 {
    background-color: #0B162A;
}

chi-2 {
    background-color: #C83803;
}

det-1 {
    background-color: #0076B6;
}

det-2 {
    background-color: #B0B7BC;
}

det-2 {
    background-color: white;
}

.dal {
  border-left: 4px solid #869397;
  background-color: #041E42;
  color: white;
  font-weight: bold;
}

dal-1 {
    background-color: #041E42;
}

dal-2 {
    background-color: #869397;
}

dal-3 {
    background-color: white;
}

wash-1 {
    background-color: #773141;
}

wash-2 {
    background-color: #FFB612;
}

phi-1 {
    background-color: #004C54;
}

phi-2 {
    background-color: black;
}

phi-3 {
    background-color: white;
}

nyg-1 {
    background-color: #0B2265;
}

nyg-2 {
    background-color: #A71930;
}

nyg-3 {
    background-color: #A5ACAF;
}

.lv {
  border: 0 4px solid #A5ACAF;
  background-color: black;
  color: #A5ACAF;
  font-weight: bold;
}
lv-1 {
    background-color: black;
}

lv-2 {
    background-color: #A5ACAF;
}

.lac {
  border-left: 4px solid white;
  border-right: 4px solid white;
  background-color: #0080C6;
  color: #FFC20E;
  font-weight: bold;
}
lac-1 {
    background-color: #0080C6;
}

lac-2 {
    background-color: #FFC20E;
}

lac-3 {
    background-color: white;
}

kc-1 {
    background-color: #E31837;
}

kc-2 {
    background-color: #FFB81C;
}

den-1 {
    background-color: #FB4F14;
}

den-2 {
    background-color: #002244;
}

ten-1 {
    background-color: #4B92DB;
}

ten-2 {
    background-color: #0C2340;
}

ten-3 {
    background-color: #C8102E;
}

.ind {
  border-left: 4px solid #A2AAAD;
  border-right: 4px solid #A2AAAD;
  background-color: #002C5F !important;
  color: white;
  font-weight: bold;
}
ind-1 {
    background-color: #002C5F;
}

ind-2 {
    background-color: white;
}

ind-3 {
    background-color: #A2AAAD;
}

jax-3 {
    background-color: #00677B;
}

jax-1 {
    background-color: #9F792C;
}

jax-2 {
    background-color: #101820;
}

hou-1 {
    background-color: #03202F;
}

hou-2 {
    background-color: #A71930;
}

.cin {
  border-left: 4px solid white;
  background-color: #FB4F14 !important;
  color: black;
  font-weight: bold;
}
cin-1 {
    background-color: #FB4F14;
}

cin-2 {
    background-color: black;
}

cin-3 {
    background-color: white;
}

.bal{
  border-left: 4px solid black;
  border-right: 4px solid black;
  background-color: #241773;
  color: #9E7C0C;
  font-weight: bold;
}
bal-1 {
    background-color: #241773;
}

bal-2 {
    background-color: black;
}

bal-3 {
    background-color: #9E7C0C;
}

cle-1 {
    background-color: #FF3C00;
}

cle-2 {
    background-color: #311D00;
}

cle-3 {
    background-color: white;
}

pit-1 {
    background-color: #101820;
}

pit-2 {
    background-color: #FFB612;
}

.buf{
  border-left: 4px solid #C60C30;
  border-right: 4px solid #C60C30;
  background-color: #00338D;
  color: white;
  font-weight: bold;
}

buf-1 {
    background-color: #00338D;
}

buf-2 {
    background-color: #C60C30;
}

buf-3 {
    background-color: white;
}

.ne{
  border-left: 4px solid #C60C30;
  border-right: 4px solid #C60C30;
  background-color: #002244;
  color: #B0B7BC;
  font-weight: bold;
}
ne-1 {
    background-color: #002244;
}

ne-2 {
    background-color: #C60C30;
}

ne-3 {
    background-color: #B0B7BC;
}

nyj-1 {
    background-color: #125740;
}

nyj-2 {
    background-color: black;
}

nyj-3 {
    background-color: white;
}

.mia{
  border-left: 4px solid #fc4c02;
  background-color: #008E97;
  color: white;
  font-weight: bold;
}
mia-1 {
    background-color: #008E97;
}

mia-2 {
    background-color: #fc4c02;
}

mia-3 {
    background-color: white;
}