/* your CSS goes here */
* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 2rem;
  font-weight: 250;
  margin-top: 0;
  margin-bottom: .3rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 150;
}

h3 {
  font-size: 1.2rem;
  font-weight: 100;
}

.sign-in-popup {
  padding: 8em 0;
  background-image: url("../Images/football.jpeg");
  background-position: center;
  background-size: cover;
}

.material-icons {
  position: relative;
  top: 6px;
}

.index-container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 1rem;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2c96bf;
  color: white;
  padding: .5rem;
}

nav ul {
  margin: 0;
  padding: 0;
}

.nav-section {
  display: none;
  margin: 0rem 0.3rem;
  padding-right: 15px;
  border-right: rgb(114, 184, 206) solid 2px;
}

nav a {
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: none;
}

.click-menu {
  display: inline;
  height: 35px;
}

.sign-in {
  float: right;
  margin-right: 0;
  padding: 0 1rem;
  border: rgb(62, 100, 116) solid 2px;
  border-radius: 3px;
  box-shadow: 1px 1px rgb(115, 177, 182);
  text-align: center;
  margin-top: 5px;
}

.sign-in-button {
  border: none;
  background-color: #2c96bf;
}

.username {
  margin-left: 3px;
}

.account-list {
  text-align: center;
}

.account-button {
  background-color: #D36428;
  font-weight: 500;
  color: white;
  max-width: 220px;
  min-height: 40px;
  padding: 8px 16px;
  margin: 10px;
  text-align: left;
  width: 100%;
  border: 1px solid brown;
  border-radius: 2px;
  position: relative;
  min-width: 64px;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline: 0;
  vertical-align: middle;
}

header {
  color: white;
  padding-top: 4rem;
  text-align: center;
  background-color: #0084af;
  background-image: url("../Images/football.jpeg");
  background-position: center;
  background-size: cover;
}

.motto {
  font-style: italic;
  font-size: 0.8em;
}

table {
  width: 100%;
  white-space: nowrap;
  table-layout: fixed;

}

.cell-format {
  padding: 0.5rem;
  border-bottom-width: 1px;
  background-color: white;
}

.marker-pos {
  text-align: left;
  padding-left: 10px;
}

.left-column {
  text-align: right;
}

.loss-team {
  background-color: gray;
  color: white;
  font-weight: lighter;
  font-size: smaller;
}

.win-team {
  background-color: rgba(211, 100, 40, 0.6);
}

.picked.loss-team {
  border: 3px solid red;
}

.incorrect {
  text-decoration: line-through;
}

.column-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-group {
  display: flex;
}

.column-container-picks{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-group {
  display: flex;
}

.column-container-picks{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.results {
  padding: 1rem;
  padding-bottom: 0;
  text-align: center;
}

tr td {
  min-width: fit-content;
}

tr td span.correct {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  color: green;
  background-color: white;
  display: inline-block;
  text-align: center;
  border-radius: 12px;
}

tr td span.wrong {
  width: 25px;
  height: 25px;
  color: red;
  background-color: white;
  display: inline-block;
  text-align: center;
  border-radius: 12px;
}

.column {
  max-width: 90%;
  text-align: center;
  margin-top: 2rem;
}

.this-week {
    margin-top: 1rem;
}

input {
  margin: 1rem;
}

main{
  margin: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items:center;
  justify-content: space-evenly;
}

.btn-group {
  width: 30%;
  border-bottom: 1px solid;
  margin: 1rem;
}

.next-week-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.game-input-row {
  margin-top: 1em;
  flex: 1 1 300px;
  display: flex;
  flex-direction: row;
}

.team-label {
  border: #D36428 solid 2px;
  background-color: rgba(211, 100, 40, 0.6);
  margin: 0.3em;
  min-width: 130px;
  height: 50px;
  flex: 1 1 95px;
  border-radius: 20px; 
}

.picked {
  border: 3px solid blue;
}

.away-team-pos {
  text-align: left;
}

.home-team-pos {
  text-align: right;
}

.location-label {
  display: none;
}

.label-width {
  min-width: 130px;
}

.form-btn {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  min-width: 300px;
  color: white;
  background-color: #D36428;
  text-align: center;
  border: white solid 1px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px red;
}

.form-edit-btn {
  background-color: black;
  margin-bottom: 1rem;
  margin-left: 25%;
  margin-right: 25%;
  min-width: 50%;
}

footer {
    color: white;
    background-color: #3e1305;
}

footer a {
    color: white;
    text-decoration: none;
}

.contact-info {
    margin: 0;
    padding-right: 2%;
    line-height: 1;
}

nav .sign-in:hover {
    border: #f0f0f0 solid 2px;
}

nav a:hover {
    color: #f0f0f0;
    text-decoration: none;
    border-bottom: 0.2rem solid #f0f0f0;
}

nav li:last-child a:hover {
    border-bottom: none;
}

.sign-in-button:hover .sign-in-content {
  color: white;
}

.none-when-small {
  display: none;
}

@media (min-width: 576px) {
  .nav-section {
    display: inline;
  }

  .motto {
    font-style: italic;
    font-size: 1em;
  }

  .section-icon {
    height: 25px;
  }

  .sign-in {
    margin-top: 0;
  }

  .location-label {
    margin-top: 0.3em;
    display: inline-block;
    min-width: 220px;
    text-align: center;
    height: 70px;
    vertical-align: middle;
    flex: 1 1 120px;
  }

  .none-when-small {
    display: inline-block;
  }

  .results {
    padding-bottom: 1rem;
  }

}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }

  .material-icons {
    position: relative;
    top: 5px;
  }

  header {
    color: white;
    padding-top: 5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    background-color: #0084af;
    background-position: center;
    background-size: cover;
  }

  h1 {
    font-size: 3.5rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: .5rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 200;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 150;
  }

  .sign-in-popup {
    padding: 12em 0;
  }

  .motto {
    font-style: italic;
    font-size: 1.25rem;
  }

  .results {
    padding: 4rem;
    text-align: center;
    }

  .column-container{
    min-width: 70%;
    max-width: 94%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
    
  .column {
    max-width: 42%;
    text-align: center;
    margin-top: 0;
  }

  .contact-info {
    display: inline;
    margin-left: 0;
    padding-right: 0.5rem;
  }
}

@media (min-width: 992px) {
  .sign-in-popup {
    padding: 15em 0;
  }

  .nav-section {
      margin: 0rem 1rem;
      padding-right: 40px;
  }

  .username {
    margin-left: 5px;
  }
}
